<div class="box">
    <ul class="table-view">
    {{#each collec1}}
<input type="checkbox" class="not-checked">
<div class="btn btn-primary btn-block btn-outlined sinistra item2 img" id={{this.id}}>
      <div id={{this.id}}>
  	    <img src="ingredienti/Frutta/{{this.nome}}.jpg" class="item1" id={{this.id}}>
  	    <div id={{this.id}} align="center" class="current" value="{{this.nome}}">{{this.nome}}</div>
  	    </img> 
  	  </div>
</div>
{{/each}}
</ul>
</div>
<style>
input[type="checkbox"]{display:none;}
</style>





